body {
    background-color: green;
    padding: 0;
    margin: 0; 
}

form{
    font-family: Verdana,Tahoma, sans-serif;
    font-size: 15px;
    background-color: #CC3300;
    max-width: 500px;
}

h1{
    margin-bottom: 20px;
    margin-left: 20px;
    color: #66ffff;
    text-shadow: 5px 5px 5px black;
}

input{
    border-color: #000066;
    box-shadow: 5px 0px 9px #ffff00 ;
    background-color: #66ffff;
    color: black;
    font-weight: bold;
}