/* Reset de estilos padrão */
body, h1, form, div {
    margin: 0;
    padding: 0;
  }
  
  /* Estilos gerais para o corpo da página */
  body {
    font-family: Arial, sans-serif;
    background-color: #e917178a;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para o cabeçalho (h1) */
  h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 36px; /* Texto maior para o cabeçalho */
    margin-bottom: 20px;
  }
  
  /* Estilos para o formulário */
  form {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
  }
  
  /* Estilos para os campos de entrada de texto e seleção */
  label {
    display: block;
    margin-bottom: 10px; /* Espaçamento menor */
    color: #333;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    width: 100%;
    padding: 14px; /* Maior preenchimento */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  /* Estilos para os botões */
  input[type="submit"],
  input[type="reset"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 14px 24px; /* Maior preenchimento */
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para mensagens de erro */
  .error-message {
    color: #ff0000;
    font-size: 16px;
    margin-top: 10px; /* Espaçamento menor */
  }
  
  /* Estilos para a seção de sucesso */
  .success-message {
    color: #008000;
    font-size: 16px;
    margin-top: 10px; /* Espaçamento menor */
  }
  
  /* Estilos para a div de separação horizontal */
  hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  